.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding-left: 15px;
    width: 100%;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 1px;
    border-radius: 4px;
    margin-top: -30px;
}

.header a:hover {
    color: darkgray;
}

.header-right {
    float: right;
}

.header h1.name {
    font-size: 40px;
    font-weight: bold;
  }

  body {
    background-color: #bcbbbb;
  }

  .photoMe {
    width: 400px;
    height: 500px;
    float: right;
    margin-right: 90px;
    margin-left: 20px;
    border-radius: 10%;
    margin-top: -20px;
  }

  .intro {
   display: flex;
   text-align: center;
   margin-top: 20px;
   padding-left: 90px;
  }

  .intro h2 {
    font-size: 40px;
  }

  .intro p {
    font-size: 19px;
  }

  button {
    font-size: 15px;
    margin-top: 20px;
    height: 30px;
    border-radius: 10px;
  }

  @media (max-width:600px) {
    body {
      display: grid;
    }
   }